<%- include('../includes/admin_head.ejs') %>
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('../includes/admin_nav.ejs') %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('../includes/adminNav.ejs', {name:admin.full_name,image:admin.imageUrl}) %>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Patient</h3>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">patients&nbsp; Info</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm"><option value="10" selected="">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>&nbsp;</label></div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>address</th>
                                        <th>Doctor</th>
                                        <th>Age</th>
                                        <th style="width: 50px;">Room&nbsp;</th>
                                        <th>sicknesse</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let pat of patients ) { %>
                                    <tr>
                                        <td><img class="rounded-circle mr-2" width="30" height="30" src="/img/avatars/avatar1.jpeg"><%=pat.Patient_name%></td>
                                        <td><%=pat.address%></td>
                                        <td><%=pat.Doctor_name%></td>
                                        <td><%=pat.age%></td>
                                        <td><%=pat.Room%></td>
                                        <td><%=pat.patient_sicknesses%></td>
                                    </tr>
                                    <%}%>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td><strong>Name</strong></td>
                                        <td><strong>Address</strong></td>
                                        <td><strong>Doctor<br><br></strong></td>
                                        <td><strong>Age</strong></td>
                                        <td><strong>Room</strong></td>
                                        <td><strong>Sickness</strong></td>
                
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing <% if(start == 0 ){ %> 1 <%} else {%> <%=start%> <% } %> to <%= start + 5 %> of <%=totalItem%></p>
                            </div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <%- include('../includes/pagination.ejs', {curentpage:curentpage,hasnextpage:hasnextpage,haspreviouspage:haspreviouspage,nextpage:nextpage,previouspage:previouspage,lastpage:lastpage }) %>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="/js/Studious-selectfile.js"></script>
    <script src="/js/creative.js"></script>
    <script src="/js/freelancer.js"></script>
    <script src="/js/theme.js"></script>
</body>

</html>