<%- include('../includes/emp_head.ejs') %>
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('../includes/emp_nav.ejs') %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('../includes/empNav.ejs', {name:employee.full_name,image:employee.imageUrl}) %>
            <div class="col">
                <div class="form-group">
            </div>
            <form action="lab" method="POST">
            <input type="hidden" name="pat_id" value="<%= appointement[0].patient_id %>">
             <input type="hidden" name="emp_id" value="<%= appointement[0].employee_id %>">
            <div class="container-fluid" style="padding: 12px;margin-left: 14px;">
                <h3 class="text-dark mb-4" style="margin-top: 52px;">HMS&nbsp;Patient lab tests&nbsp;</h3>
                <div class="card shadow" style="width: 585px;">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Lab tests</p>
                        <div>
                            <p>Doctor name&nbsp;&nbsp;<input type="text" name="lab_emp" readonly="" value="Doctor <%=appointement[0].doctor%>" style="color: rgb(110,112,126);padding: 6px 12px;"></p>
                            <p>Patient name&nbsp;&nbsp;<input type="text" name="lab_pat" readonly="" value="<%=appointement[0].patient%>" style="color: rgb(110,112,126);padding: 6px 12px;"></p>
                            <p>Date&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input type="date" name="lab_date" style="width: 198px;height: 36px;padding: 12px;"></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 11px;">No</th>
                                        <th>Name</th>
                                        <th>value</th>
                                        <th>IsActive</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        
                                        <td style="padding: 0;width: 207px;">
                                            <select name="l1" style="border: none; width: 240px;height: 49px;" >
                                                <optgroup label="Select lab tests">
                                                    <option> </option>
                                                    <% for (let lab of labs ) { %> 
                                                        <option value="<%= lab.id %>" ><%= lab.name %></option>
                                                    <% } %>
                                                </optgroup></select>
                                        </td>
                                        <td style="width: 142px;padding: 0;"><input type="text" name="v1" style="width: 134px;height: 49px;padding: 12px;"></td>
                                        <td style="padding: 0;"><input type="text" name="i1" style="width: 108px;height: 49px;padding-left: 12px;"></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td style="padding: 0;width: 207px;">
                                            <select name="l2" style="border: none; width: 240px;height: 49px;" >
                                                <optgroup label="Select lab tests">
                                                    <option> </option>
                                                    <% for (let lab of labs ) { %> 
                                                        <option value="<%= lab.id %>" ><%= lab.name %></option>
                                                    <% } %>
                                                </optgroup></select>
                                        </td>                                        <td style="width: 142px;padding: 0;"><input type="text" name="v2" style="width: 134px;height: 49px;padding: 12px;"></td>
                                        <td style="padding: 0;"><input type="text" name="i2" style="width: 108px;height: 49px;padding-left: 12px;"></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td style="padding: 0;width: 207px;">
                                            <select name="l3" style="border: none; width: 240px;height: 49px;" >
                                                <optgroup label="Select lab tests">
                                                    <option> </option>
                                                    <% for (let lab of labs ) { %> 
                                                        <option value="<%= lab.id %>" ><%= lab.name %></option>
                                                    <% } %>
                                                </optgroup></select>
                                        </td>                                        <td style="width: 142px;padding: 0;"><input type="text" name="v3" style="width: 134px;height: 49px;padding: 12px;"></td>
                                        <td style="padding: 0;"><input type="text" name="i3" style="width: 108px;height: 49px;padding-left: 12px;"></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td style="padding: 0;width: 207px;">
                                            <select name="l4" style="border: none; width: 240px;height: 49px;" >
                                                <optgroup label="Select lab tests">
                                                    <option > </option>
                                                    <% for (let lab of labs ) { %> 
                                                        <option value="<%= lab.id %>" ><%= lab.name %></option>
                                                    <% } %>
                                                </optgroup></select>
                                        </td>                                        <td style="width: 142px;padding: 0;"><input type="text" name="v4" style="width: 134px;height: 49px;padding: 12px;"></td>
                                        <td style="padding: 0;"><input type="text" name="i4" style="width: 108px;height: 49px;padding-left: 12px;"></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td style="padding: 0;width: 207px;">
                                            <select name="l5" style="border: none; width: 240px;height: 49px;" >
                                                <optgroup label="Select lab tests">
                                                    <option> </option>
                                                    <% for (let lab of labs ) { %> 
                                                        <option value="<%= lab.id %>" ><%= lab.name %></option>
                                                    <% } %>
                                                </optgroup></select>
                                        </td>                                        <td style="width: 142px;padding: 0;"><input type="text" name="v5" style="width: 134px;height: 49px;padding: 12px;"></td>
                                        <td style="padding: 0;"><input type="text" name="i5" style="width: 108px;height: 49px;padding-left: 12px;"></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td style="padding: 0;width: 207px;">
                                            <select name="l6" style="border: none; width: 240px;height: 49px;" >
                                                <optgroup label="Select lab tests">
                                                    <option> </option>
                                                    <% for (let lab of labs ) { %> 
                                                        <option value="<%= lab.id %>" ><%= lab.name %></option>
                                                    <% } %>
                                                </optgroup></select>
                                        </td>                                        <td style="width: 142px;padding: 0;"><input type="text" name="v6" style="width: 134px;height: 49px;padding: 12px;"></td>
                                        <td style="padding: 0;"><input type="text" name="i6" style="width: 108px;height: 49px;padding-left: 12px;"></td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td style="padding: 0;width: 207px;">
                                            <select name="l7" style="border: none; width: 240px;height: 49px;" >
                                                <optgroup label="Select lab tests">
                                                    <option> </option>
                                                    <% for (let lab of labs ) { %> 
                                                        <option value="<%= lab.id %>" ><%= lab.name %></option>
                                                    <% } %>
                                                </optgroup></select>
                                        </td>                                        <td style="width: 142px;padding: 0;"><input type="text" name="v7" style="width: 134px;height: 49px;padding: 12px;"></td>
                                        <td style="padding: 0;"><input type="text" name="i7" style="width: 108px;height: 49px;padding-left: 12px;"></td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td style="padding: 0;width: 207px;">
                                            <select name="l8" style="border: none; width: 240px;height: 49px;" >
                                                <optgroup label="Select lab tests">
                                                    <option> </option>
                                                    <% for (let lab of labs ) { %> 
                                                        <option value="<%= lab.id %>" ><%= lab.name %></option>
                                                    <% } %>
                                                </optgroup></select>
                                        </td>                                        <td style="width: 142px;padding: 0;"><input type="text" name="v8" style="width: 134px;height: 49px;padding: 12px;"></td>
                                        <td style="padding: 0;"><input type="text" name="i8" style="width: 108px;height: 49px;padding-left: 12px;"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td><strong>No</strong></td>
                                        <td><strong>Name</strong></td>
                                        <td><strong>value</strong></td>
                                        <td><strong>IsActive</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <input type="hidden" name="regester_id" value="<%=regester_id %>">
                            <input type="hidden" name="appoint_id" value="<%= appoint_id %>">
                        </div><button class="btn btn-primary" style="width: 208px;margin-left: 159px;height: 45px;" type="submit">Give medicen</button></div>
                    </form>
                </div>
            </div>
            
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/chart.min.js"></script>
    <script src="/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="/js/creative.js"></script>
    <script src="/js/freelancer.js"></script>
    <script src="/js/theme.js"></script>
</body>

</html>